@model IEnumerable<test_v01.Repository.Models.Documento>

@{
    ViewData["Title"] = "Biblioteca";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" id="criardocumento" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Documentoid)</th>
            <th>@Html.DisplayNameFor(model => model.First().Documentonome)</th>
            <th>@Html.DisplayNameFor(model => model.First().Caminhodocumento)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Documentoid)</td>
                <td>@Html.DisplayFor(modelItem => item.Documentonome)</td>
                <td>@Html.DisplayFor(modelItem => item.Caminhodocumento)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Documentoid" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Documentoid" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Documentoid" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-link">Logout</button>
</form>
